.login-form, .register-form{
    padding-bottom: 10px;
    
    .container-field{
        padding-top: 10px;
    }

    .container-login-button{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 20px;
    }
}